@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css?family=Asap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');


body {
    margin: 0;
}

.max-width-container {
    max-width: 1000px;
    margin: auto;
}

.global-page-styles {
    font-family: 'Asap', sans-serif;
}
